h1 {
  text-align: center;
  padding: 20px;
}
.letter-wrapper {
  width: 25vw;
  margin: 5vw;
  padding: 1rem;
}
@media (max-width: 650px) {
  .letter-wrapper {
    margin: 0;
  }
  .letter-icons {
    width: 1rem !important;
  }
}
.letter-container {
  margin-top: 2vw;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(4, auto);
  grid-gap: 0.6vw;
}

.letter-icons {
  font-size: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  background: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-icons:hover {
  cursor: pointer;
}
.btn:disabled {
  opacity: 0.4;
  cursor: default;
}
