//Import custom Bootstrap on the main Sass file.*/
@import 'custom';

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Creepster&family=Eater&display=swap');

//Font classes (delete those we don't use later)
.font-butcher {
  font-family: 'Butcherman', cursive !important;
}
.font-creepy {
  font-family: 'Creepster', cursive !important;
}
.font-eater {
  font-family: 'Eater', cursive;
}

body {
  background-color: rgb(0, 25, 46);
}
// Main content above background
main {
  height: 100vh;
  position: relative;
  z-index: 2;
   
}
.svg-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(180deg, rgb(0, 25, 46) 90%, black 20%);
  z-index: 0;
}
.cauldron {
  position: absolute;
  bottom:5%;
  left:60%;
  @media (max-width: 700px) { 
    width: 100px;
    height: 140px;
    left:70%;
  }
}
.skeleton {
  position: absolute;
  bottom:45%;
  left:70%;
  transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
  @media (max-width: 700px) { 
    width: 100px;
    height: 140px;
    left:72%;
    bottom:35%;
  }
}
// Animations
#bat-one, #bat-sm-left, #skeleton-ballon {
  animation: bat 1s ease-in-out infinite alternate;
  transform-origin: bottom;
}

#left-pumpkin-mouth {
  animation: mouth 0.7s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}
#bat-two {
  animation: bat 0.7s ease-in-out infinite alternate;
  transform-origin: bottom;
}
#particle1,#particle2,#particl3,#particle4,#particle5,#particle6,#particle7  {
  opacity: 0;
  transform-origin: 50% 50% 0;
}
#particle1 { 
  animation: flamefly 5s 0s infinite linear;
}
#particle2 {
  animation: flamefly 5s 0.5s infinite linear; 
}
#particl3 { 
  animation: flamefly 5s 1s infinite linear; 
}
#particle4 { 
  animation: flamefly 5s 1.5s infinite linear; 
}
#particle5 { 
  animation: flamefly 5s 2s infinite linear; 
}
#particle6 { 
  animation: flamefly 5s 2.5s infinite linear;
}
#particle7 {
  animation: flamefly 5s 3s infinite linear; 
}

@keyframes flicker-spark3 {
  0% {
    opacity: 1;
    bottom: 50px;
    left: 50px;
  }
  100% {
    opacity: 0;
    bottom: 350px;
    left: -50px;
  }
} 
@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
	
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}


@keyframes bat {
  from {
    transform: rotateX(15deg);
  }
  to {
    transform: rotateX(10deg);
  }
}

@keyframes mouth {
  from {
    transform: scaleY(0.8);
  }
  to {
    transform: scaleY(1.1);
  }
}

@keyframes flamefly {
  0%{
    transform: translate(0) rotate(0deg);
  }
   50% {
     opacity: 1;
  }
  100% {
    transform: translate(-20px, -100px) rotate(0deg);
    opacity: 0;
  }
}

//Global button styling (Bootstrap)
.btn {
  font-family: 'Creepster', cursive !important;
  letter-spacing: 2px;
}
